.content1 {
  text-align: center;
  margin: 80px 5% 110px 5%;
}

.content1 h1 {
  font-weight: 700;
  font-size: 36px;
  color: #cc0000;
}

@media (max-width: 408px) {
  .content1 h1 {
    font-weight: 700;
    font-size: 26px;
    color: #cc0000;
  }
}

.content1 button {
  background-color: #cc0000;
  color: white;
  padding: 14px 38px 14px 38px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.content1 button:hover {
  filter: brightness(0.9);
  transition: 0.5s;
}

.content2 {
  text-align: center;
  padding: 80px 5% 80px 5%;
  background-color: #efefef;
}

.content2 h2 {
  font-size: 30px;
  margin-bottom: -10px;
  color: #cc0000;
}

.content3 {
  margin: 80px 5% 80px 5%;
}

.content4 {
  width: 100%
}

.content5 {
  background: #efefef;
  margin-top: 50px;
  padding: 10px 5% 40px 5%;
}

.content5 div h3 {
  font-size: 24px;
  color: #cc0000;
}

.content5 div button {
  font-size: 16px;
  background: #cc0000;
  padding: 14px 50px;
  border: none;
  color: white;
}

.content5 div button:hover {
  filter: brightness(0.9);
  transition: 0.5s;
}